.background {
    background-color: #140B35;
    width: 100vw;
    height: 100vh;
    /* padding-top: 110px; */
    /* padding-bottom: -250px; */
}
@font-face {
    font-family: 'anantason';
    src: url('fonts/Anantoson/anantason-regular-webfont.woff2') format('woff2'),
         url('fonts/Anantoson/anantason-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'chara';
  src: url('fonts/Chara/th-chara_ver_2.00-webfont.woff2') format('woff2'),
       url('fonts/Chara/th-chara_ver_2.00-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.question {
  padding-top: 15px;
  padding-left: 20px;
}

div.question:hover {
  opacity: 0.5;
}

.block {
    display: block;
    border-radius: 15px;
    /* opacity: 0.4; */
    width: 57%;
    height: 61%;
    padding: 20px 20px 20px 20px;
    background-color: #8A8A8A; 
    margin-left: 19%;
    margin-top: 3%;
}

.Engineer {
  position:absolute;
  top: 20%;
  left: 23%;
}

.Science {
  position:absolute;
  top: 35%;
  left: 23%;
}

.Teacher {
  position:absolute;
  top: 50%;
  left: 23%;
}

.Art {
  position:absolute;
  top: 65%;
  left: 23%;
}

.IT {
  position:absolute;
  top: 20%;
  right: 25%;
}

.Math {
  position:absolute;
  top: 35%;
  right: 25%;
}

.Robot {
  position:absolute;
  top: 50%;
  right: 25%;
}

.Sci-tech {
  position:absolute;
  top: 65%;
  right: 25%;
}

.Next {
  position:absolute;
  top: 43%;
  right: 20%;
}

button.flex-div:hover,button.flex-div-2:hover{
  /* opacity: 0.8; */
  font-size: 28px; 
  /* background-color: sienna; */
  background-color: #140B35;
}

.flex-container {
    display: flex;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-div {
  /* background-color: #140B35; */
  background-color: #E8641A;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  width: 350px;
  height: 95px;
  border-radius: 20px; 
  font-family: 'chara';
  margin-left: 72px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}
.flex-div-2 {
  background-color: #E8641A;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 350px;
  height: 95px;
  border-radius: 20px; 
  font-family: 'chara';
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  font-size: 25px;
  font-weight: bold;
  }

.flex-div-back {
  background-color: #C4C4C4;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: black;
  text-align: center;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px; 
  font-family: 'chara';
  font-size: 25px;
  font-weight: bold;
  width: 150px;
  height: 60px;
  margin-top: 40px;
  margin-left: 9%;
  }

.flex-div-skip {
  background-color: #686868;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: black;
  text-align: center;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px; 
  font-family: 'chara';
  font-size: 25px;
  font-weight: bold;
  width: 150px;
  height: 60px;
  margin-top: 40px;
  margin-left: 60%;
    }
